
<div class="neoric-icons">          
  {% for i in (1..3) %}
    <figure class="neoric-icon">    

      <!-- SVG or real icon -->
      <svg width="48" height="48" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2">
        <circle cx="12" cy="12" r="10" />
        <path d="M8 12l2 2 4-4" />
      </svg>


      <figcaption class="neoric-icon__txt" style="display:flex;flex-direction:column">
        <span class="neoric-icon-title">100 % Qualität</span>
        <span class="neoric-icon-desc">Dank weichem Silikon</span>
      </figcaption>

    </figure>
  {% endfor %}
</div>
